<div class="images">
    <div class="description">
        <h3><strong>Explore the Best Places to Stay in India</strong></h3>
        <p>We offer a wide variety of accommodations across 6 popular locations of India. 
            Whether you're looking for luxury hotels, budget
            stays, or cozy retreats, we've got you covered!</p>
        <p>Plan your next adventure with us and experience unmatched hospitality.</p>
    </div>
    <!-- Video background container -->
    <div class="video-bg-container">
         
    </div>
</div>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <div class="country">
                <img src="assets/india.jpg" alt="India Flag" class="flag">
                <span>India</span>
            </div>
            <div class="footer-links">
                <div class="company-links">
                    <h4>Company</h4>
                    <ul>

                        <li><a href="#">About company</a></li>
                        <li><a href="#">Be our patner</a></li>
                    </ul>
                </div>
                <div class="help-links">
                    <h4>Help</h4>
                    <ul>

                        <!-- Terms and Conditions Link -->
                        <li><a href="#" (click)="openModal()">Terms and Conditions</a></li>

                        <!-- Modal for Terms and Conditions 
                        <div id="termsModal" class="modal" *ngIf="isModalOpen">
                            <div class="modal-content">
                                <h2>Terms and Conditions</h2>
                                <p>
                                    Here are the terms and conditions for using this website. You agree to follow the
                                    terms set forth by the company...
                                      Add your terms content here  
                                </p>
                                <button (click)="closeModalAndRedirect()">OK</button>
                            </div>
                        </div>
                    -->
                        <li><a href="#">Cancellation & Refund policy</a></li>
                    </ul>
                </div>

                <div class="contact-links">
                    <h4>Contacts</h4>
                    <ul>


                        <li><a href="#">Cusomer support</a></li>

                        <li><a href="#"></a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>


    <p>All material herein ©2024 Stop N Rest. All Rights Reserved.</p>

</footer>