<div class="search-container">
  <h2>Book Hotels and Homestays</h2>
  <div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="searchHotels()">
      <div class="form-group">
        <label for="location">Where to</label>
        <input 
          type="text"
          id="location"
          formControlName="location"
          placeholder="e.g. - Place or Property Name"
          
        />
      </div>

      <div class="form-group">
        <label for="check-in">Check-in</label>
        <input id="check-in" type="date" formControlName="checkIn" (change)="onCheckInChange()">
      </div>

      <div class="form-group">
        <label for="check-out">Check-out</label>
        <input id="check-out" type="date" formControlName="checkOut">
      </div>

      <div class="form-group">
        <label for="guests">Room type</label>
        <select id="guests" formControlName="category">
          <option>SINGLE</option>
          <option>DOUBLE</option>
        </select>
      </div>

      <button type="submit" [disabled]="!searchForm.valid">Search</button>
    </form>
  </div>
</div>